@charset "utf-8";
body {margin: 0; padding: 0; font-family: "맑은 고딕";}

      ul,li,ol {list-style: none; margin: 0; padding: 0;}

      header {width: 1100px; height: 100px; margin: 0 auto; background-color: gold;}

      #logo {float: left; width:130px; height: 70px; margin: 10px 0 0 10px; background-color:green;}



      nav {width: 740px; height: 30px; float: right; background-color: pink; margin: 30px 30px 0 0px;}

      nav ul { font-family: "Arial"; font-weight:bold;}

      nav ul li {float: left; padding: 0 20px;}

      nav ul li a {text-decoration: none; color:#333;}

      nav ul a:hover {background-color: #fff; color:#666;}



      #slider {width: 1100px; height: 450px; margin: 0 auto; background-color: tomato;}





      section {width: 1100px; margin: 0 auto; height: 280px; background-color: cyan;}


      article{width: 340px; height:145px; float: left; margin: 30px 10px; background-color: yellow;}



      article h3 {margin: 0; font-size: 16px; height:30px; width: 100%; }

      article img {float: left; margin: 0 10px 0 0px;}

      article h4 {margin: 0; font-size: 14px; height:30px; }

      article p {font-family: "돋움"; font-size: 12px; color:#666;}


      article .icon {width:100px; height: 75px; float: left; margin: 0 0 0 5px; background-color: white; text-align: center;}

      article .icon img {float:left; margin: 0 0 0 20px;}

      article .icon span {width: 100%; text-align:center; float: left; font-size:12px; margin:10px 0 0 0px; display:block;}

      footer {width: 1100px; height: 100px; background-color:#eee; margin: 0 auto;}

      footer img {float: left; margin:20px 0 0 20px;}

      footer p {font-family: "돋움"; font-size: 12px; color:#666; margin: 40px 100px 0 0px; float:right; background-color: pink;}
